.vscode/

3D*
bridge*
Cube.gcode.3mf
out_boat.txt
out.txt
reachable_points.csv
**/__pycache__/
mini_cube.gcode.3mf
mini_cube_out.txt
Part Studio 2 - Part 1.gcode.3mf
Hollow cylinder.gcode.3mf
out_hollow_cylinder.txt
out_mini_cube.txt
roslog*
mini*
out*
tag*
sc*
msr_meca500_rl/
